.media-icons i{
  font-size: 5rem;
}
.icon{
  font-size: 3rem;
}
.detail{
  font-size: 0.9rem;
}
.pics img{
  height: 40px;
  transition: all .5s ease-in-out;
}
.pics img:hover{
  transform: scale(1.3);
}
.testimonial{
background: #ffff70;
color: darkgoldenrod;
  text-align: center;
}
.testimonial p{
font-size: 0.9rem;
}
.testimonial h5{
font-size: 1.1rem;
}
.invite{
background: midnightblue;
  color: papayawhip;
  text-align: center;
  padding: 4.5rem;
}
.invite a{
background: papayawhip;
  padding: 0.5rem 1.5rem;
  color: black;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.invite a:hover{
  border-radius: 20px;
  padding: 0.5rem 2rem;
  }
 .img-card-1 img,
 .img-card-2 img,
 .img-card-3 img
 {
   height: 20rem;
 }
 .img-card-4 img{
   height: 14rem;
   transition: all .5s ease-in-out;
 }
 .img-card-4 img:hover{
   transform: scale(1.1);
 }
 .img-card-1 .card-1,
 .img-card-2 .card-2,
 .img-card-3 .card-3,
 .img-card-4 .card-4
   {
     transition: all .5s ease-in-out;
     width: 14rem;
 }
 .img-card-1 .card-1:hover,
 .img-card-2 .card-2:hover
   {
     transform: scale(1.1);
   }
   .card-3 .text-center{
     width: 100%;
     background: rgba(0, 0, 0, 0.326);
   }
   .card-3:hover  img{
     transform: scale(1.2);
   }
 .img-card-2 .card-2 div{
   background: rgba(8, 0, 0, 0.312);
 }
 .img-card-2 .card-2 h1{
   font-size: 5rem;
 }
 .read_link{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  opacity: 0;
  transition: all 0.2s;
 }
 .description{
   transform: translateY(0);
   transition: all 0.2s;
 }
.flower:hover .read_link{
  opacity: 1;
  color: white;
}
.flower:hover .description{
  transform: translateY(-15px);
}
.flower img{
  height: 24rem;
  width: 100%;
}
.flower_cards .row1{
  margin-bottom: 3rem;
}
.girl_card_row{
  margin-bottom: 3rem;
}
.round_img img{
  transform: scale(1);
  transition: all 0.2s;
}
.girl_card:hover .round_img img{
  transform: scale(0.8);
}
.fruits{
  text-decoration: none;
    color: white;
    background: darkslategray;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 1rem;
}
.fruits:hover{
  color: white;
}
.like:hover , .dislike:hover{
  color: blue;
}
.sound, .next_one, .main{
  transform: scale(1);
  transition: all 0.2s;
}
.play_it, .pre_next, .music_opt{
  color: dimgray;
  transition: all 0.2s;
}
.effect{
  color: dimgray;
  transition: all 0.2s;
}
.play_it:hover, .effect:hover{
  color: limegreen;
}
.song_album a, .share_album a{
  text-decoration: none; color: black;
  transition: all 0.2s;
}
.song_album a:hover, .share_album a:hover{
  color: limegreen;
}
.play_song{
  cursor: pointer;
  transform: scale(1);
  font-size: 3rem;
  color: black;
  transition: all 0.2s;
}
.play_song:hover{
  transform: scale(1.1);
  color: slategray;
}
.sound:hover, .main:hover, .next_one:hover{
  transform: scale(1.1);
}
.love:hover{
  color: red;
}
.bookmark:hover{
  color: green;
}
.share:hover{
  color: orange;
}
.video_pic{
  height: 250px;
    width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.logo{
  height: 200px;
}
.link1{
  width: 40%;
  transition: all 0.5s ease-in-out;
}
.img_holder img{
  height: 150px;
}
.link1:hover{
  border-radius: 20px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.round_play{
  left: 45%;
        top: 41%;
        font-size: 2rem;
        cursor: pointer;
        transform: scale(1);
        transition: all 0.5s;
}
.round_play:hover{
  transform: scale(1.2);
}
.wanda_card2{
  left: 20%;
        top: 40%;
        font-size: 2rem;
}
.video_id{
  font-size: 3rem;
}
.video_detail{
  left: 35%;
        top: 40%;
        font-size: 2rem;
}
.wanda_heading{
  font-size: 3rem;
}
.video_on{
  width: 40%;
          margin: auto;
           color: white; font-family: sans-serif;
           transition: all 0.5s;
           
}

.video_pic1{
  height: 650px;
  width: 100%;
        object-fit: cover;
}
.video_on:hover{
  color: white;
  transform: translateY(10px);
}
.play_it{
  font-size: 6rem;
          color: dimgrey; text-align: center;
}
.price{
  text-decoration: none;
            border: 1px solid deepskyblue;
            color: deepskyblue;
            transition: all 0.5s;
}
.price:hover{
  background: deepskyblue;
  color: white;
}
@media (max-width:1485px){
  .wanda_card2{
    left: 15%;
    top: 38%;
  }
  .video_detail{
    left: 32%;
    top: 40%;
  }
  .song_card{
    width: 30%;
  }
}
@media (max-width:1311px){
  .flower img{
    height: 26rem;
  }
  .menu_card{
    width: 93%;
  }
}
@media (max-width:1256px){
  .flower img{
    height: 28rem;
  }
  .round_play{
    left: 43%;
    top: 38%;
  }
  .wanda_card2 {
    left: 10%;
    top: 38%;
  }
  .video_detail {
    left: 30%;
    top: 40%;
}
.song_card {
  width: 35%;
}
.song_strip{
  width: 50%;
}
}
@media (max-width:1140px){
  .girl_card{
    width: 30%;
  }
  .round_play{
    left: 43%;
    top: 35%;
  }
  .music_card{
    width: 95%;
  }
}
@media (max-width:1117px){
  .flower_cards{
    width: 85%;
  }
  .flower{
    width: 45%;
  }
  .fruit_card{
    width: 30%;
  }
  .menu_card {
    width: 94%;
}
.wanda_card2 {
  left: 14%;
  top: 38%;
}
.wanda_grid3{
  width: 60%;
} 
.video_detail {
  left: 28%;
  top: 40%;
}
}
@media (max-width:1024px){
  .flex-row,
  .four-cards{
      flex-wrap: wrap;
  }
  .grid_wanda{
    width: 66%;
  }
  .wanda_grid3 {
    width: 85%;
}
.wanda_card2 {
  left: 22%;
  top: 38%;
}
.music_card {
  width: 96%;
}
.song_card {
  width: 45%;
}
.song_strip {
  width: 65%;
}
}
@media (max-width:992px){
  .testimonial:first-child{
    margin-bottom: 1.5rem;
  }
  .testimonial:nth-child(2){
    margin-bottom: 1.5rem;
  }
  .listing{
    margin-right: 1.5rem!important;
  margin-left: 1.5rem!important;

  }
  .flower{
    width: 75%;
    margin-bottom: 1.5rem;
  }
  .flower_cards .row1{
    margin-bottom: 0.25rem;
  }
  .fruit_card{
    width: 25%;
  }
  .girl_card{
    width: 23%;
  }
  .grid_wanda{
    width: 90%;
  }
  .menu_card {
    width: 93%;
}
.wanda_card2 {
  left: 20%;
  top: 38%;
}
.wanda_grid4{
  width: 90%;
}
.wanda_slider{
  width: 92%;
}
.video_pic1{
  height: 600px;
}
.video_detail {
  left: 21%;
  top: 40%;
}
.logo{
  height: 180px;
}
.play_it{
  font-size: 4rem;
}
.options{
  margin-top: 1rem;
}
}
@media (max-width:825px){
  .girl_card{
    width: 32%;
  }
  .wanda_card2 {
    left: 17%;
    top: 38%;
}
.video_detail {
  left: 18%;
  top: 40%;
}
.options{
  margin-top: 1rem;
}
.song_card {
  width: 55%;
}
.song_strip {
  width: 75%;
}
}
@media (max-width:730px){
  .fruit_card{
    width: 40%;
  }
  .fruit_card:first-child{
    margin-bottom: 1.5rem;
  }
  .fruit_card:nth-child(2){
    margin-bottom: 1.5rem;
  }
  .menu_card {
    width: 94%;
}
.wanda_grid3 {
  width: 90%;
}
.video_id{
  font-size: 2.5rem;
}
.video_id1{
  width: 70%;
}
.wanda_card2 {
  left: 19%;
  top: 38%;
}
.video_detail {
  left: 19%;
  top: 40%;
}
.wanda_heading{
  font-size: 2.5rem;
}
.video_on{
  width: 50%;
}
.logo_holder{
  width: 90%;
}
.music_card{
  width: 75%;
  padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
}
.logo{
  height: auto;
    width: 100%;
}
.song_info{
  width: 95%;
  margin-top: 1.5rem;
}
}
@media (max-width:658px){
  .video_detail{
    left: 16%;
  top: 40%;
  }
  .music_card{
    width: 80%;
  }
  .song_card {
    width: 65%;
}
.song_strip {
  width: 85%;
}
}
@media (max-width:604px){
  .invite{
    padding: 4rem;
  }
  .girl_card{
    width: 39%;
  }
  .round_play {
    left: 41%;
    top: 33%;
}
.wanda_card2 {
  left: 14%;
  top: 38%;
}
.wanda_card4{
  width: 100%;
}
.video_detail {
  left: 14%;
  top: 40%;
}
.song_info{
  width: 100%;
}
}
@media (max-width:577px){
  .cards_detail{
        width: 80%;
    }
    .cards_detail:first-child{
        margin-bottom: 1.5rem;
    }
    .cards_detail:nth-child(2){
      margin-bottom: 1.5rem;
    }
    .cards_detail:nth-child(3){
      margin-bottom: 1.5rem;
    }
  .card_style{
      margin: 1rem 3rem;
      width: 80%;
  }
  .testimonial{
    width: 80%;
  }
  .testimonial:nth-child(3){
    margin-bottom: 1.5rem;
  }
  .invite{
    width: 80%;
  }
  .flower{
    width: 85%;
  }
  .girl_card{
    width: 40%;
  }
  
  .girl_card_row{
    margin-bottom: 1.5rem;
  }
  .wanda_card{
    width: 90%;
  }
  .wanda_card:first-child{
    margin-bottom: 1.5rem;
  }
  .wanda_card:nth-child(3){
    margin-bottom: 1.5rem;
  }
  .round_play {
    left: 44%;
    top: 37%;
}
.menu_card {
  width: 97%;
}
.video_id {
  font-size: 2rem;
}
.link1{
  width: 50%;
}
.wanda_card2 {
  left: 17%;
  top: 38%;
}
.wanda_card3{
  width: 100%;
}
.video_detail {
  left: 17%;
  top: 40%;
}
.video_pic1 {
  height: 450px;
}
.wanda_heading {
  font-size: 2.1rem;
}
.video_on {
  width: 60%;
}
.music_card{
  width: 90%;
}
.song_card {
  width: 80%;
}
.song_strip {
  width: 95%;
}
}
@media (max-width:525px){
  .video_detail {
    left: 13%;
    top: 40%;
}
.price{
  padding: 0.25rem 0.5rem!important;
}
}
@media (max-width:482px){
  .flower{
    width: 90%;
  }
  .parts{
    width: 100%;
  }
  .flower img{
    height: 30rem;
  }
  .fruit_card{
    width: 57%;
  }
  .fruit_card:first-child{
    margin-bottom: 1.5rem;
  }
  .fruit_card:nth-child(2){
    margin-bottom: 1.5rem;
  }
  .girl_card{
    width: 65%;
  }
  .girl_card:first-child{
    margin-bottom: 1.5rem;
  }
  .round_play {
    left: 42%;
    top: 35%;
}
.menu_card {
  width: 100%;
}
.link1 {
  width: 73%;
}
.video_id {
  font-size: 1.3rem;
}
.wanda_card2 {
  left: 24%;
  top: 35%;
}
.video_pic1 {
  height: 380px;
}
.video_detail {
  left: 17%;
  top: 40%;
}
.wanda_heading {
  font-size: 1.6rem;
}
.video_on {
  width: 80%;
}
.price{
  font-size: 0.8rem;
}
.play_it {
  font-size: 3rem;
}
.song_card {
  width: 90%;
}
.img_holder{
  width: 100%;
}
.img_holder img{
  height: auto;
    width: 100%;
}
.track_info{
  width: 100%;
    margin-top: 1.5rem;
}
.progress_bar{
  justify-content: space-evenly!important;
}
.track_name{
  text-align: center;
}
}
@media (max-width:400px){
  .wanda_card2 {
    left: 19%;
    top: 30%;
}
.video_pic1 {
  height: 320px;
}
.video_detail {
  left: 19%;
  top: 40%;
}
.wanda_heading {
  font-size: 1.2rem;
}
.video_on {
  width: 100%;
}
.play_it{
  width: 30%;

}
.song_name{
  width: 60%;
}
.price_tag{
  flex-direction: row!important;
    justify-content: space-around;
    width: 80%;
    margin-top: 1rem;
}
.price:first-child{
  margin-bottom: 0rem!important;
}
.options{
  margin-top: 1.5rem;
}
.pre_next{
  width: 30%;
}
.progress_holder{
  width: 60%;
}
.music_opt{
  width: 80%;
    margin-top: 1rem;
}
.song_album{
  width: 55%;
}
.play_song{
  font-size: 2.1rem;
}
.progress_bar1{
  width: 40%;
}
.timing{
  width: 32%;
}
}